<!DOCTYPE html>
<html>

<head>
    <%- include('all/meta'); -%>

    <title><%= title %> | <%= appName %></title>

    <%- include('all/css'); -%>


</head>

<body class="theme-red">
    <!-- Page Loader -->
    <%- include('all/page_loader'); -%>
    <!-- #END# Page Loader -->

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->

    <!-- Search Bar -->
      <%- include('all/search_bar'); -%>
    <!-- #END# Search Bar -->

    <!-- Top Bar -->
    <%- include('all/top_bar'); -%>
    <!-- #Top Bar -->

    <section>
        <!-- Left Sidebar -->
        <%- include('all/left_sidebar'); -%>
        <!-- #END# Left Sidebar -->

        <!-- Right Sidebar -->
          <!-- <%- include('all/right_sidebar'); -%> -->
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card">
                      <div class="body">
                        <div class="block-header">                    
                          <h1>Selamat Datang!</h1>
                          <p>Melalui aplikasi web ini, Anda dapat melihat penggunaan listrik di jaringan listrik yang terhubung dengan alat ukur.</p>
                          <p>Pastikan alat ukur Anda terhubung dengan jaringan listrik dan internet agar data yang ditampilkan selalu diperbaharui.</p>

                        </div>
                      </div>
                  </div>
              </div>
          </div>

        </div>
    </section>

  <%- include('all/script'); -%>
</body>

</html>
