<!DOCTYPE html>
<html>

<head>
    <%- include('all/meta'); -%>

    <title><%= title %> | <%= appName %></title>

    <%- include('all/css'); -%>
    <!-- Morris Chart Css-->
    <link href="plugins/morrisjs/morris.css" rel="stylesheet" />


</head>

<body class="theme-red">
    <!-- Page Loader -->
    <%- include('all/page_loader'); -%>
    <!-- #END# Page Loader -->

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->

    <!-- Search Bar -->
      <%- include('all/search_bar'); -%>
    <!-- #END# Search Bar -->

    <!-- Top Bar -->
    <%- include('all/top_bar'); -%>
    <!-- #Top Bar -->

    <section>
        <!-- Left Sidebar -->
        <%- include('all/left_sidebar'); -%>
        <!-- #END# Left Sidebar -->

        <!-- Right Sidebar -->
          <!-- <%- include('all/right_sidebar'); -%> -->
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid" id="app">
          <div class="row clearfix">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="card">
                        <!-- <div class="header">
                            <h2>Monitoring Data Stream</h2>
                        </div> -->
                    <div class="body">
                      <div class="row">
                        <div class="col-md-6">
                          <h4>Daya (P) : <h3 id="dayaTxt">Loading...</h3> </h4>
                        </div>
                        <div class="col-md-6">
                          <h4>Arus (I) : <h3 id="arusTxt">Loading...</h3> </h4>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <!-- CPU Usage -->
          <div class="row clearfix">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="card">
                      <div class="header">
                          <div class="row clearfix">
                              <div class="col-xs-12 col-sm-6">
                                  <h2>Penggunaan Listrik (Watt)</h2>
                              </div>
                              <div class="col-xs-12 col-sm-6 align-right">
                                  <div class="switch panel-switch-btn">
                                      <span class="m-r-10 font-12">REAL TIME</span>
                                      <label>OFF<input type="checkbox" id="realtime" checked><span class="lever switch-col-cyan"></span>ON</label>
                                  </div>
                              </div>
                          </div>

                      </div>
                      <div class="body">
                          <div id="real_time_chart" class="dashboard-flot-chart"></div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- #END# CPU Usage -->
          <!-- CPU Usage -->


        </div>
    </section>

  <%- include('all/script'); -%>

  <!-- Jquery CountTo Plugin Js -->
  <script src="plugins/jquery-countto/jquery.countTo.js"></script>

  <!-- Morris Plugin Js -->
  <script src="plugins/raphael/raphael.min.js"></script>
  <script src="plugins/morrisjs/morris.js"></script>

  <!-- ChartJs -->
  <script src="plugins/chartjs/Chart.bundle.js"></script>
  <!-- Flot Charts Plugin Js -->
  <script src="plugins/flot-charts/jquery.flot.js"></script>
  <script src="plugins/flot-charts/jquery.flot.resize.js"></script>
  <script src="plugins/flot-charts/jquery.flot.pie.js"></script>
  <script src="plugins/flot-charts/jquery.flot.categories.js"></script>
  <script src="plugins/flot-charts/jquery.flot.time.js"></script>
  <script type="text/javascript">
    const  db = firebase.database();

    var data = [], totalPoints = 510;
    var updateInterval = 1000;
    var realtime = 'on';

    $(function () {
        //Real time ==========================================================================================
        var plot = $.plot('#real_time_chart', [getRandomData()], {
            series: {
                shadowSize: 0,
                color: 'rgb(0, 188, 212)'
            },
            grid: {
                borderColor: '#f3f3f3',
                borderWidth: 1,
                tickColor: '#f3f3f3'
            },
            lines: {
                fill: true
            },
            yaxis: {
                min: 0,
                max: 600
            },
            xaxis: {
                min: 0,
                max: 500
            }
        });

        function updateRealTime() {
            plot.setData([getRandomData()]);
            plot.draw();

            var timeout;
            if (realtime === 'on') {
                timeout = setTimeout(updateRealTime, updateInterval);
            } else {
                clearTimeout(timeout);
            }
        }

        updateRealTime();

        $('#realtime').on('change', function () {
            realtime = this.checked ? 'on' : 'off';
            updateRealTime();
        });
        //====================================================================================================

    });

    function getRandomData() {
      // db.ref('/users/' + user.uid).once('value').then(function(snapshot) { // load 1x
      db.ref('/hasil').on('value', function(snapshot) { // load realtime
       var userData = snapshot.val();
       if (data.length > 0) data = data.slice(1);

       while (data.length < totalPoints) {
           var prev = data.length > 0 ? data[data.length - 1] : 50;

           var y = userData.watt;
           $("#dayaTxt").text(userData.watt + " Watt");
           $("#arusTxt").text(userData.ampere + " A");

           data.push(y);
           console.log("Akses Server ");
       }


     });

     var res = [];
     for (var i = 0; i < data.length; ++i) {
         res.push([i, data[i]])
     }

     return res;

    }


  </script>




</body>

</html>
