<!DOCTYPE html>
<html>

<head>
    <%- include('all/meta'); -%>

    <title><%= title %> | <%= appName %></title>

    <%- include('all/css'); -%>
    <!-- Morris Chart Css-->
    <link href="plugins/morrisjs/morris.css" rel="stylesheet" />


</head>

<body class="theme-red">
    <!-- Page Loader -->
    <%- include('all/page_loader'); -%>
    <!-- #END# Page Loader -->

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->

    <!-- Search Bar -->
      <%- include('all/search_bar'); -%>
    <!-- #END# Search Bar -->

    <!-- Top Bar -->
    <%- include('all/top_bar'); -%>
    <!-- #Top Bar -->

    <section>
        <!-- Left Sidebar -->
        <%- include('all/left_sidebar'); -%>
        <!-- #END# Left Sidebar -->

        <!-- Right Sidebar -->
          <!-- <%- include('all/right_sidebar'); -%> -->
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid" id="app">
          <div class="row clearfix">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="card">
                    <div class="header">
                        <h2>Monitoring Data Stream</h2>
                    </div>
                    <div class="body">
                      <h3>Daya : <h2 id="dayaTxt">0</h2> </h3>
                      <h3>Arus: <h2 id="arusTxt">0</h2> </h3>
                    </div>
                  </div>
              </div>
          </div>
          <!-- CPU Usage -->
          <div class="row clearfix">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="card">
                      <div class="header">
                          <div class="row clearfix">
                              <div class="col-xs-12 col-sm-6">
                                  <h2>Penggunaan Listrik (Watt)</h2>
                              </div>
                              <div class="col-xs-12 col-sm-6 align-right">
                                  <div class="switch panel-switch-btn">
                                      <span class="m-r-10 font-12">REAL TIME</span>
                                      <label>OFF<input type="checkbox" id="realtime" checked><span class="lever switch-col-cyan"></span>ON</label>
                                  </div>
                              </div>
                          </div>
                          
                      </div>
                      <div class="body">
                          <div id="real_time_chart" class="dashboard-flot-chart"></div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- #END# CPU Usage -->
          <!-- CPU Usage -->


        </div>
    </section>

  <%- include('all/script'); -%>

  <!-- Jquery CountTo Plugin Js -->
  <script src="plugins/jquery-countto/jquery.countTo.js"></script>

  <!-- Morris Plugin Js -->
  <script src="plugins/raphael/raphael.min.js"></script>
  <script src="plugins/morrisjs/morris.js"></script>

  <!-- ChartJs -->
  <script src="plugins/chartjs/Chart.bundle.js"></script>
  <!-- Flot Charts Plugin Js -->
  <script src="plugins/flot-charts/jquery.flot.js"></script>
  <script src="plugins/flot-charts/jquery.flot.resize.js"></script>
  <script src="plugins/flot-charts/jquery.flot.pie.js"></script>
  <script src="plugins/flot-charts/jquery.flot.categories.js"></script>
  <script src="plugins/flot-charts/jquery.flot.time.js"></script>
  <script type="text/javascript">
    const  db = firebase.database();

  </script>

  <script src="js/pages/charts/flot.js"></script>



</body>

</html>
