<!DOCTYPE html>
<html>

<head>
    <%- include('all/meta'); -%>

    <title><%= title %> | <%= appName %></title>

    <%- include('all/css'); -%>


</head>

<body class="theme-red">
    <!-- Page Loader -->
    <%- include('all/page_loader'); -%>
    <!-- #END# Page Loader -->

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->

    <!-- Search Bar -->
      <%- include('all/search_bar'); -%>
    <!-- #END# Search Bar -->

    <!-- Top Bar -->
    <%- include('all/top_bar'); -%>
    <!-- #Top Bar -->

    <section>
        <!-- Left Sidebar -->
        <%- include('all/left_sidebar'); -%>
        <!-- #END# Left Sidebar -->

        <!-- Right Sidebar -->
          <!-- <%- include('all/right_sidebar'); -%> -->
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card">
                      <div class="body">
                        <div class="block-header">
                            <h2>Penggunaan Listrik Hingga Saat Ini</h2>
                            <h1>425.2 kWh</h1>
                            <br />
                            <h2>Perkiraan Tarif Listrik</h2>
                            <h1>Rp 574.870,-</h1>
                            <br />
                            <h2><i>Reset terakhir tanggal 20 September 2018</i></h2>
                        </div>
                      </div>
                  </div>
              </div>
          </div>

        </div>
    </section>

  <%- include('all/script'); -%>
</body>

</html>
