<!DOCTYPE html>
<html>

<head>
    <%- include('all/meta'); -%>

    <title><%= title %> | <%= appName %></title>

    <%- include('all/css'); -%>


</head>

<body class="theme-red">
    <!-- Page Loader -->
    <%- include('all/page_loader'); -%>
    <!-- #END# Page Loader -->

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->

    <!-- Search Bar -->
      <%- include('all/search_bar'); -%>
    <!-- #END# Search Bar -->

    <!-- Top Bar -->
    <%- include('all/top_bar'); -%>
    <!-- #Top Bar -->

    <section>
        <!-- Left Sidebar -->
        <%- include('all/left_sidebar'); -%>
        <!-- #END# Left Sidebar -->

        <!-- Right Sidebar -->
          <!-- <%- include('all/right_sidebar'); -%> -->
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card">
                      <div class="body">
                        <div class="block-header">
                            <h2>Penggunaan Listrik Hingga Saat Ini</h2>
                            <h2><h1 id="usageTxt">Loading...</h1></h2>
                            <br />
                            <h2>Perkiraan Tarif Listrik</h2>
                            <h1 id="tarifTxt">Loading...</h1>
                            <br />
                            <h1 id="usageLimitTxt" >Loading....</h1>
                            <h2><i>Reset terakhir tanggal 15 Mei 2019</i></h2>
                        </div>
                      </div>
                  </div>
              </div>
          </div>

        </div>
    </section>

  <%- include('all/script'); -%>
  <script type="text/javascript">
  const  db = firebase.database();
  let total_watt = 0;
    let total_waktu = 0;
    let tarif_pemakaian = 0;
    let total_kilowatt, total_detik, total_jam, total_pakai;
    let tarifNorm;
  db.ref('/log').once("value").
  then(function(snapshot) {
    // console.log(snapshot.val());
    
    snapshot.forEach(function(childSnapshot) {
      let key = childSnapshot.key;
      let dataLog = childSnapshot.val();
     
      
     
      
      total_watt = total_watt + parseFloat(dataLog.watt) //total pemakaian dalam satuan watt
      total_waktu = total_waktu + parseFloat(dataLog.delay) //total waktu pemakaian dalam satuan milisekon
      console.log("Total Watt : " + total_watt);
      console.log("Total Waktu : " + total_waktu);
      
    });
    return  db.ref('/setting').once("value");

   
 }).then(function(snapshot) {

    total_kilowatt = total_watt / 1000; //total pemakaian dalam satuan kilowatt
    console.log("Total KiloWatt : " + total_kilowatt);
    total_detik = total_waktu / 1000; //total waktu pemakaian dalam satuan detik
    console.log("Total Detik : " + total_detik);
    total_jam = total_detik / 3600; //total waktu pemakaian dalam satuan jam
    console.log("Total Jam : " + total_jam);
    let pengaturan = snapshot.val();
    let tarif = pengaturan.tdl;
    total_pakai = total_kilowatt * total_jam;
    console.log("Total Kilowatt : " + total_kilowatt );
    tarif_pemakaian = total_pakai * tarif;
    
    console.log("Total Tarif : " + tarif_pemakaian );
    $("#tarifTxt").text("Rp. " + tarif_pemakaian.toFixed(2));
    $("#usageTxt").text(total_pakai.toFixed(2) + " kWh");

    return db.ref('/setting').once('value');

  }).then(function(snapshot) { 
      var pengaturan = snapshot.val();
      tarifNorm = parseFloat(pengaturan.tarifNorm);
      if(tarif_pemakaian <= tarifNorm){
        $('#usageLimitTxt').text("Penggunaan Normal");
        $('#usageLimitTxt').addClass('text-success');

      }else{
        $('#usageLimitTxt').text("Penggunaan Melebihi Batas");
        $('#usageLimitTxt').addClass('text-danger');
      }
      
  });

 




 
  </script>
</body>

</html>
